body {
  padding-top: 50px;
}

.tab-content .lead {
	margin-top: 20px;
}

.result-table {
	margin: 20px 0;
	width: 100%;
	border-collapse: collapse;
}

.result-table td {
	padding: 8px;
}

.result-table > tbody > tr > td:first-child {
	width: 25%;
	max-width: 300px;
	text-align: right;
}

form input {
	margin-bottom: 5px;
}

.choices {
	margin-bottom: 0;
}

.question-holder {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #efefef;
}

.question-holder:nth-child(2n+1) {
	background-color: #dedede;
}

.question-name {
	font-size: 170%;
	margin-bottom: 10px;
}

.choice-container {
	margin: 5px;
}

.choice-container>div {
	padding: 5px;
}

.correct {
	background-color: rgba(20,160,20,0.5);
	border-radius: 5px;
}

.selected {
	background-color: rgba(20,200,20,0.3);
}

.narrow {
	max-width: 700px;
	margin: 20px auto;
}