<div class="page-header">
	<h1>Poll</h1>
</div>

<form role="form" ng-submit="saveTest()" class="narrow">
	<div class="form-group">
		<h1>{{poll.name}}</h1>
		<div ng-repeat="question in poll.questions" class="question-holder">
			<div class="question-name">Question {{$index+1}}. {{question.text}}</div>
			<div class="form-group choices">
				<h4>Choices</h4>
				<label class="form-control" ng-repeat="choice in question.choices" ng-click="selectChoice($event, $index, question, choice)">{{$index+1}}. {{choice.text}}</label>
			</div>
		</div>
	</div>
</form>
<button type="button" class="btn btn-default" ng-click="TMM()">Tell me more</button>

<!-- 
<form role="form" ng-submit="createPoll()">
	<div class="form-group">
		<div><label for="pollName">Enter name for this poll or test:</label></div>
		<p><input type="text" class="form-control" ng-model="poll.name" id="pollName" placeholder="Enter name"></p>
		<label for="pollType">Select poll type: test or poll</label><br>
		<label><input type="radio" name="isTest" ng-model="poll.isTest" ng-value="false" checked> Poll</label><br>
		<label><input type="radio" name="isTest" ng-model="poll.isTest" ng-value="true"> Test (select correct answer, get a score)</label><br>
		<div ng-repeat="item in poll.questions">
			<div class="question-frame">
				<label for="pollQuestion">Question {{$index+1}}</label>
				<input type="text" ng-model="item.questionText" class="form-control" id="pollQuestion" placeholder="Enter question {{$index+1}} text">
		
				<div class="form-group choices">
					<label>Choices</label>
					<div ng-repeat="choice in item.choices" class="choice-container">
						<div ng-class="{correct: item.correctChoice == $index && poll.isTest}">
							<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text">
							<button type="button" ng-show="poll.isTest" class="btn btn-default" ng-click="setCorrect(item, $index)"><span class="glyphicon glyphicon-ok"></span> Mark this choice as correct</button>
							<button type="button" class="btn btn-default" ng-click="removeChoice(item, $index)" ng-class="{disabled: item.choices.length < 3}"><span class="glyphicon glyphicon-remove"></span> Remove this choice</button>
						</div>
					</div>
					 <button type="button" class="btn btn-default" ng-click="addChoice(item)"><span class="glyphicon glyphicon-plus"></span> Add choice</button>
					<button type="button" class="btn btn-danger" ng-click="removeQuestion($index)" ng-class="{disabled: poll.questions.length < 2}"><span class="glyphicon glyphicon-remove"></span> Delete this question</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addQuestion()">
				<span class="glyphicon glyphicon-plus"></span> Add another question
			</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List
			</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">
				Create Poll &raquo;
			</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>
 -->
 
<div ng-hide="poll.userVoted">
	<p class="lead">Please select one of the following options:</p>

	<form role="form" ng-submit="vote()">
		<div ng-repeat="choice in poll.choices" class="radio">
			<label>
				<input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}">
				{{choice.text}}
			</label>
		</div>
		<p><hr></p>
		<div class="row">
			<div class="col-xs-6">
				<a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-primary pull-right" type="submit">Vote &raquo;</button>
			</div>
		</div>
	</form>
</div>
	
<div ng-show="poll.userVoted">
	<table class="result-table">
		<tr ng-repeat="choice in poll.choices">
			<td>{{choice.text}}</td>
			<td>
				<table style="background-color: lightblue; width: {{choice.votes.length/poll.totalVotes*100}}%; text-align: right">
					<tr><td>{{choice.votes.length}}</td></tr>
				</table>
			</td>
		</tr>
	</table>
			
	<p>
		<em>
			{{poll.totalVotes}} votes counted so far.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</em>
	</p>
	
	<p><hr></p>
	
	<p><a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p>
</div>

<p>&nbsp;</p>