<div class="page-header">
	<h1>Create New Poll</h1>
</div>

<form role="form" ng-submit="createPoll()">
	<div class="form-group">
		<div><label for="pollName">Enter name for this poll or test:</label></div>
		<p><input type="text" class="form-control" ng-model="poll.name" id="pollName" placeholder="Enter name"></p>
		<label for="pollType">Select poll type: test or poll</label><br>
		<label><input type="radio" name="isTest" ng-model="poll.isTest" ng-value="false" checked> Poll</label><br>
		<label><input type="radio" name="isTest" ng-model="poll.isTest" ng-value="true"> Test (select correct answer, get a score)</label><br>
		<div ng-repeat="question in poll.questions">
			<div class="question-frame">
				<label for="pollQuestion">Question {{$index+1}}</label>
				<input type="text" ng-model="question.text" class="form-control" id="pollQuestion" placeholder="Enter question {{$index+1}} text, id is {{question.id}}">
		
				<div class="form-group choices">
					<label>Choices</label>
					<div ng-repeat="choice in question.choices" class="choice-container">
						<div ng-class="{correct: question.correctChoice == $index && poll.isTest}">
							<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text, id is {{choice.id}}">
							<button type="button" ng-show="poll.isTest" class="btn btn-default" ng-click="setCorrect(question, $index)"><span class="glyphicon glyphicon-ok"></span> Mark this choice as correct</button>
							<button type="button" class="btn btn-default" ng-click="removeChoice(question, $index)" ng-class="{disabled: question.choices.length < 3}"><span class="glyphicon glyphicon-remove"></span> Remove this choice</button>
						</div>
					</div>
					<!-- Allow comment after question?
					<button type="button" ng-show="!poll.isTest" class="btn btn-default" ng-click="allowComment(question, $index)"><span class="glyphicon glyphicon-pencil"></span> Allow comment to this question</button>
					 -->
					 <button type="button" class="btn btn-default" ng-click="addChoice(question)"><span class="glyphicon glyphicon-plus"></span> Add choice</button>
					<button type="button" class="btn btn-danger" ng-click="removeQuestion($index)" ng-class="{disabled: poll.questions.length < 2}"><span class="glyphicon glyphicon-remove"></span> Delete this question</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addQuestion()">
				<span class="glyphicon glyphicon-plus"></span> Add another question
			</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button">
				<span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List
			</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">
				Create Poll &raquo;
			</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>
