<h2>Список пользователей системы тестирования</h2>
<div ng-show="vm.error">
	<h3>{{vm.message}}</h3>
</div>
<div ng-show="!vm.error">
	<table class="table table-bordered table-striped">
		<tr>
			<th ng-click="selectAll()" class="text-center">
				<span class="glyphicon glyphicon-check"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">Логин</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">ФИО</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">Отдел</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">Должность</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">Активен</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>
				<span class="link" ng-click="vm.sortType = ''; vm.sortReverse = !vm.sortReverse;">Права</span>
				<span ng-show="vm.sortType == '' && !vm.sortReverse" class="fa fa-caret-down"></span>
				<span ng-show="vm.sortType == '' && vm.sortReverse" class="fa fa-caret-up"></span>
			</th>
			<th>Пароль</th>
		</tr>
		<tr ng-repeat="user in vm.users | orderBy:vm.sortType:vm.sortReverse" ng-class="{archived: (user.active === false)}">
			<td ng-click="user.selected = !user.selected" class="text-center">
				<span class="glyphicon" ng-class="{true:'glyphicon-check',false:'glyphicon-unchecked'}[user.selected]"></span>
			</td>
			<td>{{user.username}}</td>
			<td>{{user.name}}</td>
			<td>{{user.branch}}</td>
			<td>{{user.position}}</td>
			<td>{{(user.active) ? "Активный" : "Отключен"}}</td>
			<td>{{(user.admin) ? "Администратор" : "Пользователь"}}</td>
			<td><button class="btn btn-default btn-pass-reset" ng-click="showPrompt($event, user)">Сброс пароля</button></td>
		</tr>
	</table>
	<p>Активация учетных записей:
		<div class="btn btn-primary" ng-click="activateSelected()">Активировать выбранные</div>
		<div class="btn btn-default" ng-click="deactivateSelected()">Отключить выбранные</div> <br />
	</p>
	<p>Управление правами:
		<div class="btn btn-success" ng-click="addAdmin()">Сделать администраторами</div>
		<div class="btn btn-warning" ng-click="removeAdmin()">Забрать права администратора</div>
	</p>
	<!-- Функция пока не реализована
	<p>Удаление учетных записей:
		<div class="btn btn-danger" ng-click="deleteSelected()">Удалить выбранные учетные записи</div>
	</p>
	 -->
</div>